<configuration>

    <property name="LOG_DIR" value="/sdcard/Android/data/com.recek.huesleepwake" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--Logs only find with file reader on device itself. Not with Win Explorer-->
        <file>${LOG_DIR}/log.txt</file>
        <!--<file>/data/data/com.recek.huesleepwake/logs.log</file>-->
        <append>true</append>
        <encoder>
            <pattern>%d{dd.MM HH:mm:ss} %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover period -->
            <fileNamePattern>${LOG_DIR}/log.%d.txt</fileNamePattern>

            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>